{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Quienes somos</h1>
        <p>
            Somos un equipo dedicado a orientar a las personas que quieren conocer paso a paso sobre tramites
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/Trámites-con-Hacienda-y-Seguridad-Social.png" class="img-thumbnail"></h1>
    </div>

</div>

 {{> footer }}